body{
    font-size:calc(15px + 0.6vw);
    background-image: url(PC-s/board.jpg);
}

.title{
    text-align: center;
    font-size: calc(18px + 0.7vw);
}
.card
{
    background-color:rgb(228, 176, 79);
}

.card-title
{
    text-align: center;
    font-weight: bolder;
}

.card-text
{
    text-align:center;
    font-size: small;
    font-weight:600;
}

.text-muted
{
    font-weight: bolder;
    font-size: 18px;
}

#categories
{
    background-color: rgb(255, 215, 103);
    border-style: solid;
    border-color: black;
    padding: 1% 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#category
{
    font-size: calc(36px + 0.6vw);
    text-align: center;
}

.container
{
    font-size: larger;
    
}

.middleRowDiv{
    border-radius: 5px;
    border-style:solid;
    border-color: black;
    border-width: 5px;

    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(30px - 0.9vw);
    margin-bottom: 6%;
    
    display: block;
    padding:1% 1%;
    align-items: center;
    background-color:rgb(219, 159, 28);
}

.middleRowDivH2{
    text-align: center;
    font-weight: bolder;
    
}

.middleRowDivP{
    font-size:calc(14px + 0.6vw);
    text-align: justify;
}

.trDetailsUpper{
    padding: 4%;
    width: 80%;
}

.priceTag{
    font-family:'Times New Roman', Times, serif;
    display: inline-block;
    text-align: center;
}

.adClick{
    font-size:calc(18px + 0.8vw);
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.adClick:hover{
    text-decoration:underline;
    color: black;
}


.servicesDiv{
   width: 61%;
    display: inline-block;

}

.servicesPhoto
{
    width: 38%;
    display: inline-block;
    vertical-align: top;
}


#pc{
    background-color: rgb(255, 215, 103);
    border-style: solid;
    border-color: black;
    margin-top: 3%;
    max-height: 250px;
}

#carouselExampleControls{
    max-height: 50%;
}

.arch_Info{
    text-align: center;
    color: black;
}

#infoRef{
    color: black;
}

#openTable{
    margin: auto;
    border-style: solid;
    border-color: black;
    
    
}

.itemButton {
    padding: 7px 13px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 16px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }
   
   button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #0d0d11;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 350ms
   }
   
   button:hover {
    color: #e8e8e8;
   }
   
   button:hover::before {
    width: 100%;
   }


.otTR, td
{
    border: black;
    border-style: solid;
    text-align: center;
    font-size:calc(25px + 0.6vw);
}

.paragraf
{
    text-align: center;
    text-decoration: underline;
    font-weight: bolder;
    font-size:calc(15px + 0.9vw);
}


.card-img-top
{
    background-color: white;
}

#mainDiv{
    text-align: center;
}

@media (max-width:760px) {
    .middleRowDiv{
        width: 97%;
    }
    .card
    {
        width:100% !important ;
    }
}


/* Style the footer */
footer {
    background-color: rgb(99, 99, 99);
    border-radius: 15px;
    text-align: center;
    color: white;
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
 }

@media (max-width:625px) {
    #upperTD{
        display:block;
    }
    .trDetailsUpper{
        display:block;
        width: 100%;
    }
    
    .adClick{
        display: block;
        font-size: 24px;
        text-align: center;
    }
    .pc{
        max-height: 500px;
    }
    .priceTag
    {
       display:block;
       text-align: center;
       margin-top: auto;
    }

    .servicesPhoto{
        display: block;
        width: 100%;
    }
    .servicesDiv{
        display: block;
        width: auto;
    }
    .middleRowDiv
    {
        text-align: center;
        margin-top: 7%;
    }
    .categories{
        margin: 0%;
    }
}