body{
    font-size:calc(15px + 0.6vw);
    background-image: url(PC-s/board.jpg);
}

.middleRowDiv{
    border-radius: 5px;
    border-style:solid;
    border-color: black;
    border-width: 5px;

    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(100px - 0.9vw);
    margin-bottom: 6%;
    
    display: block;
    padding:1% 1%;
    align-items: center;
    background-color:rgb(219, 159, 28);
}

.middleRowDivH2{
    text-align: center;
    font-weight: bolder;
    
}

.middleRowDivP{
    font-size:calc(14px + 0.6vw);
    text-align: justify;
}

.trDetailsUpper{
    padding: 4%;
    width: 80%;
}

.priceTag{
    font-family:'Times New Roman', Times, serif;
    display: inline-block;
    text-align: center;
}

.adClick{
    font-size:calc(18px + 0.8vw);
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.adClick:hover{
    text-decoration:underline;
    color: black;
}

.servicesDiv{
   width: 61%;
    display: inline-block;

}

.servicesPhoto
{
    width: 38%;
    display: inline-block;
    vertical-align: top;
}


.pc{
    background-color: rgb(255, 215, 103);
    border-style: solid;
    border-color: black;
    margin-top: 3%;
    max-height: 250px;
}

#carouselExampleControls{
    max-height: 50%;
}

.arch_Info{
    text-align: center;
    color: black;
}

#infoRef{
    color: black;
}

@media (max-width:700px) {
    .middleRowDiv{
        width: 95%;
    }
}

/* Style the footer */
footer {
    background-color: rgb(99, 99, 99);
    border-radius: 15px;
    text-align: center;
    color: white;
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
  }

@media (max-width:525px) {
    #upperTD{
        display:block;
    }
    .trDetailsUpper{
        display:block;
        width: 100%;
    }
    .adClick{
        display: block;
        font-size: 24px;
        text-align: center;
    }
    .pc{
        max-height: 500px;
    }
    .priceTag
    {
       display:block;
       text-align: center;
       margin-top: auto;
    }

    .servicesPhoto{
        display: block;
        width: 100%;
    }
    .servicesDiv{
        display: block;
        width: auto;
    }
    .middleRowDiv
    {
        text-align: center;
        margin-top: 16%;
    }
}