body{
    font-size:calc(15px + 0.6vw);
    background-image: url(PC-s/board.jpg);
}




#middleRowDiv{
    border-radius: 5px;
    border-style:solid;
    border-color: black;
    border-width: 5px;

    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(100px - 0.9vw);
    margin-bottom: 6%;
    
    display: block;
    padding:1% 3%;
    align-items: center;
    background-color:rgb(219, 159, 28);
}

.middleRowDivH2{
    text-align: center;
    font-weight: bolder;
    
}

.middleRowDivP{
    font-size:calc(14px + 0.6vw);
    text-align: justify;
}


.trDetailsUpper{
   
    width:80%;
    padding: 4%;
   
}

.priceTag{
    float: right;
    font-family:'Times New Roman', Times, serif;
}

.adClick{
    font-size:calc(10px + 0.8vw);
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.adClick:hover{
    text-decoration:underline;
    color: black;
}


.pc{
    background-color: rgb(255, 215, 103);
    border-style: solid;
    border-color: black;
    margin-top: 3%;
    max-height: 250px;
}

#carouselExampleControls{
    max-height: 50%;
}


.arch_Info{
    text-align: center;
    color: black;
}



/* Style the footer */
footer {
    background-color: rgb(99, 99, 99);
    border-radius: 15px;
    text-align: center;
    color: white;
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
  }

.logo{
    height: 30px;
    width: 30px;

}